@model List<User>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-people-directory">
            <h3 class="text-muted">All Users</h3>

            @foreach (var user in Model)
            {
                string moreDetailLink = $"more-detail-{user.Id}";
                string todosTab = $"todos-tab-{user.Id}";
                string postsTab = $"posts-tab-{user.Id}";

                <div class="list-group contact-group">
                    <a href="#@moreDetailLink" data-toggle="collapse" class="list-group-item">
                        <div class="media">
                            <div class="pull-left">
                                <img class="img-circle" src="@user.Avatar" alt="avatar">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading text-danger"><big>@user.Name</big> <small>@user.CreatedAt</small></h4>
                                <div class="media-content">
                                    @if (user.Address != null)
                                    {
                                        <div><i class="glyphicon glyphicon-map-marker"></i> @user.Address.Street, @user.Address.City, @user.Address.Country</div>
                                        <div><i class="glyphicon glyphicon-envelope"></i> @user.Email</div>
                                    }
                                    <ul class="list-unstyled text-info">
                                        <li><i class="glyphicon glyphicon-list"></i> todos: @user.Todos.Count</li>
                                        <li><i class="glyphicon glyphicon-edit"></i> posts: @user.Posts.Count</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div id="@moreDetailLink" class="collapse">
                        <!-- Personal information -->
                        <div class="box">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs userProfileTabs" role="tablist" style="list-style-type:none">
                                <li role="presentation"><a href="#@todosTab" aria-controls="@todosTab" role="tab" data-toggle="tab">Todos</a></li>
                                <li role="presentation" class="active"><a href="#@postsTab" aria-controls="@postsTab" role="tab" data-toggle="tab">Posts</a></li>
                            </ul>

                            <div class="tab-content">
                                <!-- Todos -->
                                <br />
                                <div role="tabpanel" class="tab-pane fade" id="@todosTab">
                                    @Html.Partial("_Todos", user.Todos)
                                </div>

                                <!-- Posts -->
                                <div role="tabpanel" class="tab-pane fade active in list-unstyled" id="@postsTab">
                                    @Html.Partial("_Posts", user)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>