@model List<User>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="col-md-8 col-md-offset-3">
        <div class="page-people-directory">
            <div class="row">

                <div class="col-md-9">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" placeholder="Search people" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>All Users</h3>
                        </div>
                    </div>

                    @foreach (var user in Model)
                    {
                        string moreDetailLink = $"more-detail-{user.Id}";
                        string todosTab = $"todos-tab-{user.Id}";
                        string postsTab = $"posts-tab-{user.Id}";


                        <div class="list-group contact-group">
                            <a href="#@moreDetailLink" data-toggle="collapse" class="list-group-item">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="img-circle" src="@user.Avatar" alt="avatar">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><big>@user.Name</big> <small>@user.CreatedAt</small></h4>
                                        <div class="media-content">
                                            @if (user.Address != null)
                                            {
                                                <div><i class="glyphicon glyphicon-map-marker"></i> @user.Address.Street, @user.Address.City, @user.Address.Country</div>
                                                <div><i class="glyphicon glyphicon-envelope"></i> @user.Email</div>
                                            }
                                            <ul class="list-unstyled">
                                                <li><i class="glyphicon glyphicon-list"></i> todos: @user.Todos.Count</li>
                                                <li><i class="glyphicon glyphicon-edit"></i> posts: @user.Posts.Count</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <br />
                            <div id="@moreDetailLink" class="collapse">

                                <!-- Personal information -->
                                <div class="container" style="width:auto">
                                    <div class="col-md-12">
                                        <div class="box">
                                            <h2 class="boxTitle text-center">Personal information</h2>
                                            <!-- Tabs -->
                                            <ul class="nav nav-tabs userProfileTabs" role="tablist">
                                                <li class="" role="presentation"><a href="#@todosTab" aria-controls="@todosTab" role="tab" data-toggle="tab">Todos</a></li>
                                                <li role="presentation" class="active"><a href="#@postsTab" aria-controls="@postsTab" role="tab" data-toggle="tab">Posts</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <!-- Todos -->
                                                <br />
                                                <div role="tabpanel" class="tab-pane fade" id="@todosTab">
                                                    <div class="userProfileContent">
                                                        <div class="i">
                                                            <ul class="simpleListings">

                                                                @foreach (var todo in user.Todos)
                                                                {
                                                                    <li>
                                                                        <div class="title">@Html.ActionLink(todo.Name, "index", "todo", todo)</div>
                                                                        <div class="info">@todo.CreatedAt</div>
                                                                        <p>Completed: @todo.IsComplete</p>
                                                                    </li>
                                                                }

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Posts -->
                                                <div role="tabpanel" class="tab-pane fade active in list-unstyled" id="@postsTab">
                                                    <div class="userActivities">

                                                        @foreach (var post in user.Posts.OrderByDescending(c => c.CreatedAt))
                                                        {
                                                            <div class="i">
                                                                <a href="@Url.Action("index", "user", new { id = user.Id })" title="@user.Name" class="image">
                                                                    <img src="@user.Avatar" alt="#" width="44" height="44">
                                                                </a>
                                                                <div class="activityContent">
                                                                    <ul class="simpleListings status">
                                                                        <li>
                                                                            <div class="title">
                                                                                @Html.ActionLink(post.Title, "index", "post", new { id = post.Id })
                                                                            </div>
                                                                            <div class="info">@post.CreatedAt</div>
                                                                            <p>@post.Body</p>
                                                                            <div class="share">
                                                                                <a><i class="glyphicon glyphicon-heart"></i> @post.Likes</a>
                                                                                <a><i class="glyphicon glyphicon-comment"></i> @post.Comments.Count</a>
                                                                            </div>
                                                                        </li>
                                                                    </ul>

                                                                    @foreach (var comment in post.Comments.OrderBy(c => c.CreatedAt))
                                                                    {
                                                                        var commentator = Lesson2_ASP.NET.Services.UserService.Instance.GetUser(comment.UserId);

                                                                        <!-- Comments -->
                                                                        <ul class="simpleListings comments">
                                                                            <li class="list-unstyled">
                                                                                <a href="#" title="#" class="image">
                                                                                    <img src="@commentator.Avatar" alt="avatar" width="44" height="44">
                                                                                </a>

                                                                                <div class="c">
                                                                                    <div class="title">@Html.ActionLink(commentator.Name, "index", "user", new { id = commentator.Id })</div>
                                                                                    <div class="info">@comment.CreatedAt</div>
                                                                                    <p>@comment.Body</p>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>