@model List<(Post post, int number)>;

@{
    ViewData["Title"] = "CommentNumberByUserPosts";
}

<div class="container">
    <div class="form-inline">
        <br />
        @using (Html.BeginForm())
        {
            <label>Enter userId:</label><br />
            <input type="number" class="form-control" name="id" />
            <button type="submit" class="btn btn-primary mb-2">Find</button>
        }

        <h5 class="text-danger">@ViewBag.Success</h5>
    </div>

    @if (Model != null && Model.Count != 0)
    {
        <div class="table-responsive">
            <br />
            <table class="table table-bordered table-striped" style="max-width:768px">
                <caption class="text-center">Table of user posts and number comments to these posts</caption>
                <thead>
                    <tr>
                        <th style="width:80%">Posts</th>
                        <th class="text-center" style="width:20%">Comments number</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var collapseLink = $"post-comment{item.post.Id}";

                        <tr>
                            <td>
                                <table class="table-condensed">
                                    <tr>
                                        <td>
                                            <dl class="dl-horizontal">
                                                <dt>Title:</dt>
                                                <dd>@item.post.Title</dd>

                                                <dt>Body:</dt>
                                                <dd>@item.post.Body</dd>

                                                <dt>Likes:</dt>
                                                <dd>@item.post.Likes</dd>

                                                <dt>User id:</dt>
                                                <dd>@Html.ActionLink($"user{item.post.UserId}", "index", "user", new { id = item.post.UserId })</dd>
                                            </dl>
                                        </td>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-group-sm" data-toggle="collapse" data-target="#@collapseLink">Comments (@item.number)</button>
                                            <div id="@collapseLink" class="collapse">
                                                <br />
                                                <table class="table table-striped">
                                                    @foreach (var comment in item.post.Comments)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <blockquote style="font-size:unset">
                                                                    <p>@comment.Body</p>
                                                                    <p class="text-muted">likes: @comment.Likes</p>
                                                                    <footer>created by @Html.ActionLink($"user{comment.UserId}", "index", "user", new { id = comment.UserId })</footer>
                                                                </blockquote>
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td class="text-info text-center">@item.number</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
